@import "_normalize.scss";
@import "_variables.scss";
@import "_sprite.scss";
@import "_slick.scss";

html, body, .all-wrapper {
	height: 100%;
}

.main-content {
	flex: 1;
}

.all-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.site-header {
	height: 100px;
	padding: 0 100px;
	width: 100%;
	left: 0;
	top: 0;
}

.logo {
	float: left;
	margin-top: 34px;
}

.menu-side {
	float: right;
	.tel {
		font-size: 30px;
		font-family: $cw;
		font-weight: 300;
		text-decoration: none;
		display: inline-block;
		vertical-align: top;
		margin-left: 40px;
		margin-top: 32px;
		color: #2993b2;
	}
}

.main-menu {
	list-style-type: none;
	margin: 42px 0 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	li {
		display: inline-block;
		padding: 0 30px;
		position: relative;
		&::after {
			content: '';
			height: 80%;
			position: absolute;
			width: 2px;
			top: 50%;
			right: 0;
			background: #fff;
			transform: translateY(-50%);
		}
		a {
			font-size: 13px;
			text-transform: uppercase;
			text-decoration: none;
			color: #666666;
			border-bottom: 2px solid transparent;
			padding-bottom: 2px;
			transition: all .3s ease-in-out;
			font-family: $cw;
			&:hover {
				color: #ee0d17;
				border-color: #ee0d17;
			}
		}
		&:last-child::after {
			display: none;
		}
	}
}

.site-footer {
	height: 36px;
	padding: 0 40px;
	p {
		margin: 10px 0 0;
		font: 400 11px $os;
		color: #333333
	}
	.copyright {
		float: left;
	}
	.madein {
		float: right;
		a {
			color: #2993b2;
		}
	}
}

.home  {
	.main-content {
		padding-top: 100px;
	}
	.site-header {
		position: absolute;
		background: rgba(0, 0, 0, .75);
	}
	.main-menu {
		a {
			color: #fff;
		}
	}
	.tel {
		color: #2a93b1;
	}
	.site-footer {
		background: #0d0d0d;
	}
}

.home-slider {
	height: 100%;
}
























































