@import "_normalize.scss";
@import "_variables.scss";
@import "_sprite.scss";
@import "_slick.scss";
@import "_perfect-scrollbar.min.scss";
@import "_customParallax.scss";
@import "_animate.scss";
html, body, .all-wrapper {
	height: 100%;
}

body {;
	font-size: 14px;
	font-weight: 400;
	font-family: $os;
	line-height: 22px;
	color: #666666;
}



// .all-wrapper {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-between;
// }

.site-header {
	height: 100px;
	padding: 0 100px;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9999;
	border-bottom: 1px solid #dbdbdb;
	position: absolute;
	transition: all .3s ease-in-out;
	background: #fff;
}

.logo {
	float: left;
	margin-top: 34px;
	img {
		visibility: hidden;
	}
	background: url(../img/logo.png) center center no-repeat;
	background-size: contain;
}

.menu-side {
	float: right;
	.tel-side {
		display: inline-block;
		vertical-align: top;
		margin-left: 40px;
		margin-top: 30px;
	}
	.tel {
		font-size: 30px;
		font-family: $cw;
		font-weight: 300;
		text-decoration: none;
		display: block;
		color: #2993b2;
	}
	.graph {
		color: #666;
		font: 300 14px $cw;
		display: block;
		text-align: center;
		margin-top: 5px;
	}
}

.main-menu {
	list-style-type: none;
	margin: 39px 0 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	& > li {
		display: inline-block;
		padding: 0 30px;
		position: relative;
		&::after {
			content: '';
			height: 80%;
			position: absolute;
			width: 2px;
			top: 50%;
			right: 0;
			background: #747474;
			transform: translateY(-50%);
		}
		a {
			font-size: 13px;
			text-transform: uppercase;
			text-decoration: none;
			color: #666666;
			border-bottom: 2px solid transparent;
			padding-bottom: 2px;
			transition: all .3s ease-in-out;
			font-family: $cw;
		}
		&:hover > a {
			color: #ee0d17;
			border-color: #ee0d17;
		}
		&.current-menu-item > a {
			color: #ee0d17;
			border-color: #ee0d17;
		}
		&:last-child::after {
			display: none;
		}
	}
}

.site-footer {
	height: 36px;
	padding: 0 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #0d0d0d;
	border-color: transparent;
	p {
		margin: 10px 0 0;
		font: 400 11px $os;
		color: #333333
	}
	.copyright {
		float: left;
	}
	.madein {
		float: right;
		a {
			color: #2993b2;
		}
	}
}

.pages__footer {
	background: #fff;
	border-top: 1px solid #dcdcdc;
	z-index: 99999;
}

.black__header  {
	.logo {
		background: url(../img/home-logo.png) center center no-repeat;
	}
	.site-header {
		position: absolute;
		background: rgba(0, 0, 0, .75);
		border-color: transparent;
	}
	.main-menu {
		a {
			color: #fff;
		}
		li::after {
			background: #fff;
		}
	}
	.tel {
		color: #2a93b1;
	}
	.graph {
		color: #fff;
	}
	
	.menu-item-has-children .sub-menu {
		background: rgba(0, 0, 0, .7);
	}
}


.home-slider {
	// height: 100%;
	.slick-list,
	.slick-track,
	&__item {
		height: 100%;
	}
	&__item {
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		// padding-top: 100px;
	}
	&__inner {
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
	&__container {
		max-width: 1140px;
		color: #fff;
		text-align: center;
	}
	&__title {
		font: 400 48px $cw;
		margin: 0 0 20px;
	}
	&__subheading {
		font: 400 21px $os;
		margin: 20px 0 40px;
	}
	&__list {
		list-style-type: none;
		margin: 0 0 50px;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			padding-left: 60px;
			text-align: left;
			font: 14px/22px $os;
			background-position: left center;
			background-repeat: no-repeat;
			vertical-align: top;
			&:nth-child(2) {
				margin: 0 80px;
			}
		}
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 100;
		font-size: 0px;
		text-indent: -9999px;
		background-repeat: no-repeat;
		width: 21px;
		height: 11px;
		border: none;
		background-color: transparent;
		outline: 0;
		cursor: pointer;
		opacity: .4;
		transition: all .3s ease-in-out;
		&:hover {
			opacity: 1;
		}
		&.slick-prev {
			left: 30px;
			background-image: url(../img/arr-l.png);
		}
		&.slick-next {
			right: 30px;
			background-image: url(../img/arr-r.png);
		}
	}
}

.main-content {
	overflow: hidden;
	background-color: #f5f5f5;
	flex: 1;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	height: 100%;
	position: relative;
	&__inner {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		top: 100px;
		left: 0;
		overflow: hidden;
		height: calc(100% - 100px);
		background: #f5f5f5;
	}
	&__col {
		width: 48.5%;
		max-height: 100%;
		overflow: auto;
		position: relative;
		padding-bottom: 150px;
		&.img-col {
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	&__text {
		padding-top: 40px;
		// padding-bottom: 200px;
		h1 {
			font: 300 35px $cw;
			color: #2993b2;
			text-transform: uppercase;
			margin: 0 0 10px;
		}
		h2 {
			font: 600 18px $os;
			color: #404040;
			margin-top: 0;
		}
		&--right {
			padding-right: 100px;
		}
		&--left {
			padding-left: 100px;
			padding-right: 20px;
		}
	}
}
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
	width: 3px;
	border-radius: 0px;
	right: 6px;
	z-index: 10;
}

.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
	background: #bfbfbf;
}

.ps-container.ps-active-y>.ps-scrollbar-y-rail {
	opacity: 1;
	&::after {
		content: '';
		position: absolute;
		left: 8px;
		top: 0;
		height: 100%;
		width: 1px;
		background: #fff;
	}
	&::before {
		content: '';
		position: absolute;
		left: 7px;
		top: 0;
		height: 100%;
		width: 1px;
		background: #d9d9d9;
	}
}

.what-we-do {
	padding: 35px 25px 20px;
	background: #e9edf0;
	margin: 35px 0;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	flex-wrap: wrap;
	&__item {
		padding-left: 30px;
		background-repeat: no-repeat;
		background-position: left center;
		font: 600 14px/22px $os;
		color: #404040;
		margin-bottom: 15px;
	}
}

.news-header {
	padding-left: 100px;
	font: 300 36px $cw;
	color: #2993b2;
	text-transform: uppercase;
	margin-top: 125px;
	position: relative;
	z-index: 1;
}

.news .main-content__text {
	padding-top: 0;
}

.news .main-content__inner {
	padding-top: 90px;
	img {
		margin-bottom: 30px;
	}
	.date {
		display: block;
		font: 400 12px $os;
		color: #b2b2b2;
		margin: 15px 0;
	}
}

.news-aside {
	padding-right: 100px;
}

.news__list {
	&-item {
		display: block;
		padding: 30px 0;
		border-bottom: 1px solid #d9d9d9;
		border-top: 1px solid #fff;
		font: 400 14px/21px $os;
		color: #666666;
		text-decoration: none;
		&:first-child {
			border-top: none;
			padding-top: 0;
		}
		&__inner {
			position: relative;
			padding-left: 310px;
		}
		.date {
			margin: 5px 0 !important;
		}
	}

	.img {
		position: absolute;
		width: 270px;
		height: 100%;
		left: 0;
		top: 0;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.title {
		font: 600 18px $os;
		color: #404040;
	}
}

.services__list {
	height: calc(100% - 80px);
	width: 100%;
	padding: 0 100px;
	display: flex;
	justify-content: space-between;
	&-item {
		width: 31%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		text-align: center;
		padding: 0 20px;
		position: relative;
		overflow: hidden;
		.title {
			font: 300 36px $cw;
			display: block;
			margin-bottom: 25px;
		}
		&__img {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transition: transform .6s ease-in-out;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, .3);
				opacity: 0;
				transition: opacity .6s ease-in-out;
			}
		}
		&__inner {
			position: relative;
			z-index: 1;
		}
		&:hover {
			.services__list-item__img {
				transform: scale(1.02);
			}
			.services__list-item__img::before {
				opacity: 1;
			}
		}
	}
}

.ref {
	width: 100%;
	height: 100%;
	position: relative;
	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		padding: 0 100px;
	}
	&__item {
		width: 25%;
		height: 370px;
		padding: 20px;
		&-inner {
			background-size: cover;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			position: relative;
			&:hover {
				.ref__item-content {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&-content {
			background: rgba(0, 0, 0, .7);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			text-decoration: none;
			color: #fff;
			opacity: 0;
			visibility: hidden;
			transition: all .3s ease-in-out;
			span {
				display: block;
				&.title {
					font: 16px $cw;
					text-transform: uppercase;
				}
				&.subtitle {
					font: 14px $cw;
					margin-top: 5px;
				}
			}
		}
	}
}

.map-wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	#map {
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.contacts__section .main-content__inner {
	height: calc(100vh - 130px);
}

.contacts__section {
	height: 105vh;
}

.map__bottom {
	position: absolute;
	bottom: 0;
	z-index: 10;
	width: 100%;
	left: 0;
	padding: 20px 100px;
	background: #0078a3;
	color: #fff;
	border-top: 1px solid #409aba;
	border-bottom: 1px solid #004b67;
	&-col {
		display: inline-block;
		vertical-align: top;
		margin-right: 30px;
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			font: 14px $os;
		}
		.title {
			margin: 0 0 10px;
			font: 300 16px $cw;
			text-transform: uppercase;
		}
		a {
			color: #fff;
			text-decoration: none;
		}
		li {
			margin-bottom: 5px;
		}
		.org {
			column-count: 2;
		}
	}
}

.map__form {
	width: 420px;
	position: absolute;
	z-index: 101;
	right: 120px;
	top: 50px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
	&--heading {
		background-image: linear-gradient(160deg, #2993b2 0%, #00668b 100%);
		padding: 20px 50px;
		color: #fff;
		.title {
			font: 21px $cw;
			text-transform: uppercase;
		}
	}
	&--body {
		padding: 40px 50px;
		background: #fff;
		input:not([type=submit]), textarea  {
			height: 45px;
			background-color: #fafafa;
			border: 1px solid #d9d9d9;
			display: block;
			width: 100%;
			outline: 0;
			padding: 0 10px;
			margin-bottom: 18px;
		}
		textarea {
			height: 135px;
			resize: none;
			padding: 10px;
		}
		.btn {
			cursor: pointer;
			float: right;
			line-height: normal;
		}
	}
}

.menu-item-has-children {
	position: relative;
	.sub-menu {
		position: absolute;
		margin: 0;
		padding: 0;
		list-style-type: none;
		background: #fff;
		left: 0;
		top: 23px;
		width: 100%;
		text-align: center;
		padding: 10px 0 20px;
		display: none;
		a:hover {
			color: #ee0d17;
		}
	}
	&:hover {
		.sub-menu {
			display: block;
		}
	}
}

.services__section .main-content__inner {
	padding: 40px 0;
	height: calc(100vh - 100px);
	.services__list {
		height: 100%;
	}
}


.current__slide .animated {
	
}














































