block footer

	footer.site-footer.pages__footer
		.site-footer__inner.cf
			p.copyright ©2017 Резистенз Групп
			p.madein Разработка сайта: 
				a(href="http://belugalab.ru" target="_blank") Belugalabs


