block header

	header.site-header
		.site-header__inner.cf
			a.up-arrow.js--scrollto(href="#" data-src="0") Наверх
			a.logo.js--scrollto(href="#" data-src="0")
				if bodyClass == 'home'
					img(src="img/home-logo.png", alt="")
				else
					img(src="img/logo.png", alt="")
			.menu-side
				ul.main-menu
					li
						a.js--scrollto(href="#" data-src="1") О нас
					li.menu-item-has-children
						a.js--scrollto(href="#" data-src="2") Продукция
						ul.sub-menu
							li
								a(href="#") Продукт 1
							li
								a(href="#") Продукт 2
							li
								a(href="#") Продукт 3
					li
						a.js--scrollto(href="#" data-src="3") Услуги
					li
						a(href="#") Новости
					li
						a(href="#") Референц
					li
						a.js--scrollto(href="#" data-src="4") Контакты
				.tel-side
					a.tel(href="tel:+74951204019") +7 495 120-40-19 
					span.graph график работы: пн-пт,  9.00-18.00
