block header

	header.site-header
		.site-header__inner.cf
			a.logo(href="#")
				img(src="img/home-logo.png", alt="")
			.menu-side
				ul.main-menu
					li
						a(href="#") О нас
					li
						a(href="#") Продукция
					li
						a(href="#") Услуги
					li
						a(href="#") Новости
					li
						a(href="#") Референц
					li
						a(href="#") Контакты
				a.tel(href="tel:+74951204019") +7 495 120-40-19 
