block header

	header.site-header
		.site-header__inner.cf
			a.logo(href="#")
				if bodyClass == 'home'
					img(src="img/home-logo.png", alt="")
				else
					img(src="img/logo.png", alt="")
			.menu-side
				ul.main-menu
					li
						a(href="#") О нас
					li.menu-item-has-children
						a(href="#") Продукция
						ul.sub-menu
							li
								a(href="#") Продукт 1
							li
								a(href="#") Продукт 2
							li
								a(href="#") Продукт 3
					li
						a(href="#") Услуги
					li
						a(href="#") Новости
					li
						a(href="#") Референц
					li
						a(href="#") Контакты
				.tel-side
					a.tel(href="tel:+74951204019") +7 495 120-40-19 
					span.graph график работы: пн-пт,  9.00-18.00
