extends _layout
block vars
	- var bodyClass = 'about'
block content
	main.main-content(style="background-image: url(img/about-bg.jpg)")
		.main-content__inner
			.main-content__col.img-col(style="background-image: url(img/about-img.jpg)")
			.main-content__col.custom-scroll
				.main-content__text.main-content__text--right
					h1 О нас
					p Компания «Резистенз» осуществляет комплексные поставки комплектующих для конвейеров, резинотканевых и ПВХ конвейерных лент. На сегодняшний день, компания «Резистенз» является официальным представителем ведущих российских и зарубежных производителей.
					p Благодаря накопленному опыту, мы сгенерировали оптимальную формулу взаимодействия с нашими клиентами, которая позволяет предложить высоко качественную конвейерную ленту по гибким ценам с удобными для клиентов сроками поставки.
					p Главный актив и фундамент компании «Резистенз» - это команда профессионалов, главным ориентиром в работе которых является безусловное удовлетворение потребностей клиентов компании и оказание всесторонних и оперативных консультаций по подбору и особенностям эксплуатации конвейерных лент и комплектующих.
					p Понимая важность своевременной поставки продукции как гарантии минимизации убытков от простоя конвейеров, компания «Резистенз» предлагает своим клиентам оперативную доставку продукции «до двери» Вашего предприятия в партнерстве с ведущими логистическими компаниями России.
					p За годы динамичного и успешного развития компания поставила продукцию десяткам российских предприятий из различных отраслей - от горной добычи до упаковочной индустрии и сельского хозяйства.



block inlineScripts