extends _layout
block vars
	- var bodyClass = 'home'
block content
	main.main-content
		.home-slider
			.home-slider__item(style="background-image: url(img/slide1.jpg)")
			.home-slider__item(style="background-image: url(img/slide1.jpg)")
			.home-slider__item(style="background-image: url(img/slide1.jpg)")



block inlineScripts