extends _layout
block vars
	- var bodyClass = 'home'
block content
	main.main-content
		.home-slider
			.home-slider__item(style="background-image: url(img/slide1.jpg)")
				.home-slider__inner
					.home-slider__container
						h2.home-slider__title ПРОИЗВОДИМ И ПОСТАВЛЯЕМ КОНВЕЙЕРНУЮ ЛЕНТУ И КОМПЛЕКТУЮЩИЕ
						p.home-slider__subheading для предприятий всех отраслей
						ul.home-slider__list
							li(style="background-image: url(img/list1.png)") Полное соответствие ГОСТ<br> и европейским стандартам
							li(style="background-image: url(img/list2.png)") Вся продукция<br> сертифицирована
							li(style="background-image: url(img/list3.png)") Лучшее соотношение<br> цена/качество
						a.view-more.btn(href="#") Подобрать
			.home-slider__item(style="background-image: url(img/slide2.jpg)")
				.home-slider__inner
					.home-slider__container
						h2.home-slider__title СЖАТЫЕ СРОКИ ПРОИЗВОДСТВА И ПОСТАВКИ
						p.home-slider__subheading конвейерной ленты и комплектующих
						ul.home-slider__list
							li(style="background-image: url(img/list4.png)") Точное исполнение<br> производственных обязательств
							li(style="background-image: url(img/list5.png)") Партнерство с ведущими<br> логистическими компаниями
							li(style="background-image: url(img/list6.png)") Доставка «до двери» наиболее<br> удобным видом транспорта
						a.view-more.btn(href="#") Подобрать
			.home-slider__item(style="background-image: url(img/slide3.jpg)")
				.home-slider__inner
					.home-slider__container
						h2.home-slider__title УДОБНЫЕ УСЛОВИЯ РАБОТЫ
						p.home-slider__subheading для комфорта наших клиентов
						ul.home-slider__list
							li(style="background-image: url(img/list7.png)") Поставляем ленту в<br> объемах от 5 метров
							li(style="background-image: url(img/list8.png)") Предоставляем гибкие<br> условия оплаты
							li(style="background-image: url(img/list9.png)") Гарантируем высокое <br>качество продукции
						a.view-more.btn(href="#") Подобрать
			.home-slider__item(style="background-image: url(img/slide4.jpg)")
				.home-slider__inner
					.home-slider__container
						h2.home-slider__title КОМАНДА ПРОФЕССИОНАЛОВ
						ul.home-slider__list
							li(style="background-image: url(img/list10.png)") Оперативный и точный <br>подбор ленты
							li(style="background-image: url(img/list11.png)") Сервисная <br>поддержка
							li(style="background-image: url(img/list12.png)") Высокое качество <br>стыковки и иных услуг
						a.view-more.btn(href="#") Подобрать



block inlineScripts