extends _layout
block vars
	- var bodyClass = 'black__header home'
block content
	main.main-content
		section.slider__section.parallax-section
			.home-slider.content-wrapper
				.home-slider__item(style="background-image: url(img/slide1.jpg)")
					.home-slider__inner
						.home-slider__container
							h2.home-slider__title ПРОИЗВОДИМ И ПОСТАВЛЯЕМ КОНВЕЙЕРНУЮ ЛЕНТУ И КОМПЛЕКТУЮЩИЕ
							p.home-slider__subheading для предприятий всех отраслей
							ul.home-slider__list
								li(style="background-image: url(img/list1.png)") Полное соответствие ГОСТ<br> и европейским стандартам
								li(style="background-image: url(img/list2.png)") Вся продукция<br> сертифицирована
								li(style="background-image: url(img/list3.png)") Лучшее соотношение<br> цена/качество
							a.view-more.btn(href="#") Подобрать
				.home-slider__item(style="background-image: url(img/slide2.jpg)")
					.home-slider__inner
						.home-slider__container
							h2.home-slider__title СЖАТЫЕ СРОКИ ПРОИЗВОДСТВА И ПОСТАВКИ
							p.home-slider__subheading конвейерной ленты и комплектующих
							ul.home-slider__list
								li(style="background-image: url(img/list4.png)") Точное исполнение<br> производственных обязательств
								li(style="background-image: url(img/list5.png)") Партнерство с ведущими<br> логистическими компаниями
								li(style="background-image: url(img/list6.png)") Доставка «до двери» наиболее<br> удобным видом транспорта
							a.view-more.btn(href="#") Подобрать
				.home-slider__item(style="background-image: url(img/slide3.jpg)")
					.home-slider__inner
						.home-slider__container
							h2.home-slider__title УДОБНЫЕ УСЛОВИЯ РАБОТЫ
							p.home-slider__subheading для комфорта наших клиентов
							ul.home-slider__list
								li(style="background-image: url(img/list7.png)") Поставляем ленту в<br> объемах от 5 метров
								li(style="background-image: url(img/list8.png)") Предоставляем гибкие<br> условия оплаты
								li(style="background-image: url(img/list9.png)") Гарантируем высокое <br>качество продукции
							a.view-more.btn(href="#") Подобрать
				.home-slider__item(style="background-image: url(img/slide4.jpg)")
					.home-slider__inner
						.home-slider__container
							h2.home-slider__title КОМАНДА ПРОФЕССИОНАЛОВ
							ul.home-slider__list
								li(style="background-image: url(img/list10.png)") Оперативный и точный <br>подбор ленты
								li(style="background-image: url(img/list11.png)") Сервисная <br>поддержка
								li(style="background-image: url(img/list12.png)") Высокое качество <br>стыковки и иных услуг
							a.view-more.btn(href="#") Подобрать
		section.about__section.parallax-section
			.main-content__inner.content-wrapper
				.main-content__col.img-col(style="background-image: url(img/about-img.jpg)")
				.main-content__col.custom-scroll
					.main-content__text.main-content__text--right
						h1 О нас
						p Компания «Резистенз» осуществляет комплексные поставки комплектующих для конвейеров, резинотканевых и ПВХ конвейерных лент. На сегодняшний день, компания «Резистенз» является официальным представителем ведущих российских и зарубежных производителей.
						p Благодаря накопленному опыту, мы сгенерировали оптимальную формулу взаимодействия с нашими клиентами, которая позволяет предложить высоко качественную конвейерную ленту по гибким ценам с удобными для клиентов сроками поставки.
						p Главный актив и фундамент компании «Резистенз» - это команда профессионалов, главным ориентиром в работе которых является безусловное удовлетворение потребностей клиентов компании и оказание всесторонних и оперативных консультаций по подбору и особенностям эксплуатации конвейерных лент и комплектующих.
						p Понимая важность своевременной поставки продукции как гарантии минимизации убытков от простоя конвейеров, компания «Резистенз» предлагает своим клиентам оперативную доставку продукции «до двери» Вашего предприятия в партнерстве с ведущими логистическими компаниями России.
						p За годы динамичного и успешного развития компания поставила продукцию десяткам российских предприятий из различных отраслей - от горной добычи до упаковочной индустрии и сельского хозяйства.
		section.services__section.parallax-section.with-title
			.main-content__inner.content-wrapper
				h2.section-title Продукция
				.services__list
					.services__list-item
						.services__list-item__img(style="background-image: url(img/s2.jpg)")
						.services__list-item__inner
							span.title Продукт 1
							a.btn(href="#") Подробнее
					.services__list-item
						.services__list-item__img(style="background-image: url(img/s1.jpg)")
						.services__list-item__inner
							span.title Продукт 2
							a.btn(href="#") Подробнее
					.services__list-item
						.services__list-item__img(style="background-image: url(img/s3.jpg)")
						.services__list-item__inner
							span.title Продукт 3
							a.btn(href="#") Подробнее
		section.services__section.parallax-section.with-title
			.main-content__inner.content-wrapper
				h2.section-title Услуги
				.services__list
					.services__list-item
						.services__list-item__img(style="background-image: url(img/s1.jpg)")
						.services__list-item__inner
							span.title Стыковка конвейерной <br> ленты
							a.btn(href="#") Подробнее
					.services__list-item
						.services__list-item__img(style="background-image: url(img/s2.jpg)")
						.services__list-item__inner
							span.title Установка <br>гофроборта
							a.btn(href="#") Подробнее
					.services__list-item
						.services__list-item__img(style="background-image: url(img/s3.jpg)")
						.services__list-item__inner
							span.title Логистика
							a.btn(href="#") Подробнее


		



		section.contacts__section.parallax-section
			.main-content__inner.content-wrapper
				.map-wrapper
					#map
					.map__bottom
						.map__bottom-col
							p.title ООО «Резистенз групп»
							ul
								li Россия, 142116, г.  Подольск, ул. Лобачева, 13, оф. 207, 
								li тел.:  
									a(href="tel:+74951204019") +7 (495) 120-40-19
								li 
									a(href="mailto:info@resistenz.ru") info@resistenz.ru
						.map__bottom-col
							p.title Реквизиты компании:
							ul.org
								li ИНН/КПП 5036165799/503601001
								li ОГРН 1175074003686
								li PC 40702810100000079222
								li КС 30101810400000000555
								li ОБИК 044525555
								li ПАО «ПРОМСВЯЗЬБАНК»
					.map__form
						.map__form--heading
							span.title Закажите консультацию специалиста
						.map__form--body.cf
							form
								input(type="text" placeholder="Имя")
								input(type="tel" placeholder="Телефон")
								input(type="email" placeholder="Email")
								textarea(placeholder="Сообщение")
							input.btn(type="submit" value="Отправить")
			footer.site-footer
				.site-footer__inner.cf
					p.copyright ©2017 Резистенз Групп
					p.madein Разработка сайта: 
						a(href="http://belugalab.ru" target="_blank") Belugalabs



block inlineScripts
	script.
		function initMap() {
			var uluru = {lat: 55.437487, lng: 37.572316};
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 14,
				center: uluru,
				scrollwheel: false,
			});
			var marker = new google.maps.Marker({
				position: uluru,
				map: map
			});
			google.maps.event.addDomListener(window, "resize", function() {
				var center = map.getCenter();
				google.maps.event.trigger(map, "resize");
				map.setCenter(center); 
			});
		}
		initMap()