extends _layout
block vars
	- var bodyClass = 'pr'
block content
	main.main-content(style="background-image: url(img/pr-bg.jpg)")
		.main-content__inner
			.main-content__col.img-col(style="background-image: url(img/pr-img.jpg)")
			.main-content__col.custom-scroll
				.main-content__text.main-content__text--right
					h1 Продукция
					h2 ПВХ лента
					p Компания «Резистенз» предлагает высококачественные ПВХ конвейерные ленты, применяемые в деревообрабатывающей промышленности (транспортировака гранул и наполнителей), производстве и эксплуатации спортивного оборудования (беговые полотна), логистике (транспортерные ленты в аэропортах), пищевой промышленности (на хлебопекарнях и в производстве мяса), сельхозтехнике (в работе подборщика и зернометателя).
					p Вся ПВХ лента произведена при соблюдении мировых стандартов качества, норм и ГОСТов.
					p Лента готова к отгрузке со склада компании, а также может быть доставлена до клиента партнерскими логистическими компаниями.



block inlineScripts