extends _layout
block vars
	- var bodyClass = 'pr1'
block content
	main.main-content
		.main-content__inner
			.main-content__col.custom-scroll
				.main-content__text.main-content__text--left
					h1 Продукция
					p Компания «Резистенз» поставляет конвейерные ленты на резинотканевой основе для сельскохозяйственной или дорожной техники, оборудования для горнодобывающей отрасли - грохотов, дробилок, а также для конвейеров различных типов и назначений.
					p На сегодняшний день в номенклатуре компании представлена резинотканевая конвейерная лента в различных ценовых категориях, как импортного, так и российского производства. Кроме того, мы предлагаем специальные виды конвейерных лент – шевронные, морозостойкие, теплостойкие, маслостойкие, пищевые, трудновоспламеняемые, антистатические, а также ленты с сочетанием нескольких свойств.
					p Для пищевых производств компания «Резистенз» предлагает резинотканевую конвейерную ленту, полностью соответствующую российским санитарно-гигиеническим нормам.
					p Специалисты компании всегда помогут подобрать резинотканевую ленту, полностью соответствующую рекомендациям завода-изготовителя вашего конвейера. Для подбора ленты достаточно указать основные параметры ленты – длину, ширину и толщину, а также тип оборудования и транспортируемого материала.
					.what-we-do
						.what-we-do__col
							.what-we-do__item(style="background-image: url(img/w1.png)") Добыча полезных ископаемых
							.what-we-do__item(style="background-image: url(img/w2.png)") Химическая промышленность
						.what-we-do__col
							.what-we-do__item(style="background-image: url(img/w3.png)") Логистические комплексы
							.what-we-do__item(style="background-image: url(img/w4.png)") Металлургия
						.what-we-do__col
							.what-we-do__item(style="background-image: url(img/w5.png)") Сельское хозяйство
							.what-we-do__item(style="background-image: url(img/w6.png)") Производства
					h2 Резинотканевая конвейерная лента общего назначения
					p Универсальная конвейерная лента для транспортировки мелкокусковых и среднекусковых грузов на различных производственных предприятиях, а также предприятиях сельского хозяйства.
					h2 Маслостойкая резинотканевая конвейерная лента
					p Применяется на предприятиях пищевой промышленности, в производственных циклах которых используется транспортировка пищевых продуктов с высоким содержанием растительных жиров, а также на транспортерах сельскохозяйственных предприятий.
					h2 Морозостойкая резинотканевая конвейерная лента
					p В суровых климатических условиях, на отрытых горных разработках, где невозможно использование резинотканевых лент общего назначения, компания «Резистенз» предлагает ленты со специальным покрытием, которое позволяет осуществлять эффективную транспортировку грузов при температуре окружающей среды до -60 С.
			.main-content__col.img-col(style="background-image: url(img/pr1-img.jpg)")



block inlineScripts