extends _layout
block vars
	- var bodyClass = 'ref'
block content
	main.main-content
		.main-content__inner
			.ref.custom-scroll
				.ref__inner
					.ref__item
						.ref__item-inner(style="background-image: url(img/ref.jpg)")
							a.ref__item-content(href="#")
								span.title Асфальтовый завод
								span.subtitle г. Пенза, поставка июль 2016 
					.ref__item
						.ref__item-inner(style="background-image: url(img/ref.jpg)")
							a.ref__item-content(href="#")
								span.title Асфальтовый завод
								span.subtitle г. Пенза, поставка июль 2016 
					.ref__item
						.ref__item-inner(style="background-image: url(img/ref.jpg)")
							a.ref__item-content(href="#")
								span.title Асфальтовый завод
								span.subtitle г. Пенза, поставка июль 2016 
					.ref__item
						.ref__item-inner(style="background-image: url(img/ref.jpg)")
							a.ref__item-content(href="#")
								span.title Асфальтовый завод
								span.subtitle г. Пенза, поставка июль 2016 
					.ref__item
						.ref__item-inner(style="background-image: url(img/ref.jpg)")
							a.ref__item-content(href="#")
								span.title Асфальтовый завод
								span.subtitle г. Пенза, поставка июль 2016 
					.ref__item
						.ref__item-inner(style="background-image: url(img/ref.jpg)")
							a.ref__item-content(href="#")
								span.title Асфальтовый завод
								span.subtitle г. Пенза, поставка июль 2016 
					.ref__item
						.ref__item-inner(style="background-image: url(img/ref.jpg)")
							a.ref__item-content(href="#")
								span.title Асфальтовый завод
								span.subtitle г. Пенза, поставка июль 2016 
					.ref__item
						.ref__item-inner(style="background-image: url(img/ref.jpg)")
							a.ref__item-content(href="#")
								span.title Асфальтовый завод
								span.subtitle г. Пенза, поставка июль 2016 
					.ref__item
						.ref__item-inner(style="background-image: url(img/ref.jpg)")
							a.ref__item-content(href="#")
								span.title Асфальтовый завод
								span.subtitle г. Пенза, поставка июль 2016 
					.ref__item
						.ref__item-inner(style="background-image: url(img/ref.jpg)")
							a.ref__item-content(href="#")
								span.title Асфальтовый завод
								span.subtitle г. Пенза, поставка июль 2016 



block inlineScripts