extends _layout
block vars
	- var bodyClass = 'ref'
block content
	main.main-content
		.main-content__inner
			.ref
				.ref__item
					img(src="img/ref.jpg", alt="")
				.ref__item
					img(src="img/ref.jpg", alt="")
				.ref__item
					img(src="img/ref.jpg", alt="")
				.ref__item
					img(src="img/ref.jpg", alt="")
				.ref__item
					img(src="img/ref.jpg", alt="")
				.ref__item
					img(src="img/ref.jpg", alt="")
				.ref__item
					img(src="img/ref.jpg", alt="")
				.ref__item
					img(src="img/ref.jpg", alt="")



block inlineScripts