extends _layout
block vars
	- var bodyClass = 'services1'
block content
	main.main-content
		.main-content__inner
			.main-content__col.custom-scroll
				.main-content__text.main-content__text--left
					h1 Стыковка конвейерных лент
					p Компания «Резистенс» оказывает услуги по качественной стыковке конвейерных лент методом горячей или холодной вулканизации, а также устанавливает механические соединители на конвейерную ленту. Соединение ленты осуществляется на европейском оборудовании – вулканизационных прессах и установочных машинах.
					h2 Стыковка конвейерных лент
					p Место стыка является наиболее слабой и недолговечной частью конвейерной ленты. Различные способы стыковки обеспечивают прочность соединения ленты на 50—80%, а долговечность на 60 — 90%. Поэтому выбор способа стыковки должен отвечать как производственным возможностям его выполнения, так и условиям работы конвейера. Наибольшими показателями прочности конвейерной обладают ленты, соединенные путем вулканизации. При таком методе соединения ленты не уменьшается ее прочность и не разрушаются внутренние слои в процессе работы, тогда как при соединении элементами, внедряющимися в ленту, уменьшается площадь поперечного сечения и появляются концентраторы напряжения, что в конечном итоге вызывает в ленте разрывы.
					h2 Способы стыковки конвейерной ленты
					img(src="img/services-scheme.png", alt="")
			.main-content__col.img-col(style="background-image: url(img/services1.jpg)")



block inlineScripts